body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: gray;
}
header{
  width: 1111px;
  height: 80px;
  background-color: #ffffff;
  margin: 0 auto;
  border: 2px solid black;
}
main{
  width: 1111px;
  height: 2000px;
  background-color: #ffffff;
  margin: 0 auto;
  border: 2px solid black;
}
footer{
  width: 1111px;
  height: 150px;
  background-color: #ffffff;
  margin: 0 auto;
  border: 2px solid black;
}